<div id="content"
     ng-style="{width: contentWidth}">

    <ul>
        <li ng-repeat="item in items" ng-click="showText = ! showText">

            <div class="image" ng-style="{'background-image': 'url(' + item.image + ')'}"></div>

            <div class="page">

                <div class="title">
                    <a href="{{item.url}}" target="_blank">{{item.title + "  "  + item.main}}</a>
                </div>

                <div class="text" ng-show="showText">{{item.text}}</div>

                <div class="categories">
                    <span ng-repeat="category in item.categories.split(',')">
                        <a ng-click="selectOneCategory(category)">{{category}}</a>{{$last ? '' : ', '}}
                    </span>
                </div>

            </div>

        </li>
    </ul>

</div>