<div id="translate"
     ng-style="{width: contentWidth}"
     ng-controller="contentController">

    <div id="page">

        <div class="title">
            {{items[i].title}}
        </div>

        <div class="description" ng-bind-html="items[i].text"></div>

        <div class="categories">
            <span ng-repeat="category in items.categories.split(',')">
                <a ng-click="selectOneCategory(category)" >{{category}}</a>{{$last ? '' : ', '}}
            </span>
        </div>

    </div>
</div>