<div id="words"
     ng-style="{width: contentWidth}"
     ng-controller="contentController">

    <div id="word">

        <div class="title">{{items[i].title}}</div>
        <div class="translate">{{items[i].translate}}</div>

        <div class="select" id="left" ng-click="next()">
            <!--<a href="">-->
                <i class="material-icons md-48">close</i>
            <!--</a>-->
        </div>

        <div class="select" id="right" ng-click="next()">
            <!--<a href="">-->
                <i class="material-icons md-48">done</i>
            <!--</a>-->
        </div>

    </div>

</div>