#content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#content ul li {
    display: table;
    width: 100%;
    height: 100px;
    overflow: hidden;

    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    /*background: linear-gradient(transparent 10px, white);*/
}

#content ul li:hover {
    /*height: auto;*/

    background-color: rgba(56, 153, 255, 0.1);
}

#content ul li div.image {
    display: table-cell;
    width: 70px;
    height: inherit;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: rgba(56, 153, 255, 0.6);
    /*box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.4);*/
}

#content ul li div.image img {
}

#content ul li div.text {
    padding: 10px 20px 20px 20px;
}

#content ul li div.text a {
    color: #0758df;
    text-decoration: none;
}

#content ul li div.text a:hover {
    /*color: #1989ff;*/
    text-decoration: underline;
}

/*.content ul li div.text a:visited {*/
    /*color: rgb(45, 112, 174);*/
/*}*/
#content ul li div.text div.title {
    line-height: 200%;
}

#content ul li div.text div.description {
    font-size: 14px;
    /*color: gray;*/
}

/*https://stackoverflow.com/questions/21143702/angularjs-animate-a-div-height-change*/