html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 16px;
}

#circle {
    position: fixed;
    background: #37b9ff;
    width: 270px;
    height: 270px;
    border-radius: 50%;

    /*box-shadow: 10px -10px rgba(0, 0, 0, 0.6);*/

    /*width: 50%;*/
    /*margin: 200px auto 0 auto;*/
    left: calc(50% - 135px);
    top: calc(50% - 135px);

    transition: all 5s ease, left 1s;
    -webkit-transition: all 5s ease, left 1s;

    /*transition: height 5s ease;*/
    /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);*/

    /*-webkit-transition: left 1s; !* Safari *!*/
    /*transition: left 1s;*/
}

#circle:hover {
    transform: scale(10);
}

#menu {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 50%;

    z-index: 4;

    /*background-color: rgba(255, 255, 255, 0.9);*/
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

#categories {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    padding-bottom: 52px;
    /*16*2 + 20*/

    width: 50%;

    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.3);

    text-align: right;
    overflow-y: scroll;
    overflow-x: hidden;

    z-index: 3;

    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

#content {
    position: absolute;
    top: 0;
    /*float: left;*/
    /*width: 100%;*/
    width: 50%;
    right: 0;

    z-index: 1;

    margin-bottom: 100px;

    background-color: white;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}