#language ul {
    list-style: none;
    margin: 0;
    /*padding: 0;*/
    line-height: 200%;
    padding: 10px 20px 10px 20px;
}

#language ul a {
    color: #000;
    text-decoration: none;
}

#language ul a:hover {
    color: red;
}

#language ul a.selected {
    color: red;
}

#language ul a.selected:hover {
    color: #000;
}