html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 16px;
}

#language {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.7);
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    width: 20%;

    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.3);

    text-align: right;
    overflow-y: scroll;
    overflow-x: hidden;

    /*z-index: 3;*/

    background-color: white;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

#content {

    position: absolute;
    top: 0;
    /*float: left;*/
    /*width: 100%;*/
    width: 80%;
    right: 0;

    margin-bottom: 200px;

    background-color: white;
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px !important;  /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}