#chat {
    position: absolute;
    /*top: 0;*/
    bottom: 0;
    right: 0;

    z-index: 2;

    margin-bottom: 50px;

    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;

    /*background-color: rgba(0, 128, 0, 0.39);*/

}

#chat ul {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: white;

    list-style: none;
    display: none;
}

/*li*/

#chat ul li {
    background-color: rgb(222, 240, 255);

    /*max-width: 60%;*/

    padding: 10px 15px 10px 15px;
    margin: 5px 20px;
    border-radius: 3px;

    float:left;
    clear:left;
    display: inline;

    font-size: 16px;
}

#chat ul li span.name {
    color: red;
}

#chat ul li span.message {
}

#chat ul li.self {
    background-color: rgb(228, 228, 228);
}

#chat ul li:first-child {
    margin-top: 20px;
}

#chat ul li:last-child {
    margin-bottom: 20px;
}

/*input*/

#chat input {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    line-height: 50px;
    font-weight: 300;

    z-index: 3;

    -webkit-appearance: none;
    outline: none;
    border: none;

    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.25);

    opacity: 0.8;

    -webkit-transition: left 1s; /* Safari */
    transition: left 1s;

    /*background-color: red;*/
}

#chat input[type="text"] {
    font-size: 16px;
}

/*icon*/

#chat i.icon {
    position: fixed;
    bottom: 0;
    right: 20px;

    z-index: 3;

    line-height: 50px;
    color: rgba(169, 169, 169, 0.17);
    /*padding-left: 20px;*/
}