<!DOCTYPE html>

<html data-ng-app="edflow" data-ng-controller="edflowController as edflow">
    <head>

        <title> </title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/menu.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/content.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("../../public/images/favicon.png")">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/edflowController.js")" type="text/javascript"></script>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>

        <div class="menu">

            @*<input id="search">*@
            <ul>
                <li ng-repeat="item in selectedCategories">

                    <a href="https://{{lang}}.wikipedia.org/wiki/Category:{{item.title}}" target="_blank">
                        <i class="material-icons">chevron_right</i>
                    </a>

                    <a href="" ng-click="deselect(item)" class="selected">{{item.title}}</a>

                </li>
                <li ng-repeat="item in subCategories">
                    <a href="https://{{lang}}.wikipedia.org/wiki/Category:{{item.title}}" target="_blank">
                        <i class="material-icons">close</i>
                    </a>
                    <a href="" ng-click="select(item)">{{item.title}}</a>
                </li>
            </ul>

        </div>

        <div class="content">

            <ul>
                <li ng-repeat="item in pages">

                    <div class="image">
                        @*<img src="https://{{item.img}}">*@
                    </div>

                    <div class="text">

                        <div class="title">
                            <a href="https://{{lang}}.wikipedia.org/wiki/{{item.title}}" target="_blank">{{item.title}}</a>
                        </div>

                        <div class="description">{{item.description}}</div>

                    </div>

                </li>
            </ul>

        </div>

    </body>
</html>
